<!-- Context menu for files table -->
<div id="files-context-menu">
  <ul
    class="table-dropdown-menu"
    role="menu"
    aria-labelledby="dropdownMenu"
    style="display: block; position: static; margin-bottom: 5px"
  >
    <li>
      <a tabindex="-1" id="show-file-details" href="#">Show File Details</a>
    </li>
    <div class="table-dropdown-divider"></div>
    <li><a tabindex="-1" id="remove-selected-file" href="#">Remove File</a></li>
    <div class="table-dropdown-divider"></div>

    <li>
      <a tabindex="-1" id="remove-all-files" href="#">Remove All Files</a>
    </li>
  </ul>
</div>

<!-- Context menu for rules table -->
<div id="rules-context-menu">
  <ul
    class="table-dropdown-menu"
    role="menu"
    aria-labelledby="dropdownMenu"
    style="display: block; position: static; margin-bottom: 5px"
  >
    <li><a tabindex="-1" id="remove-selected-rule" href="#">Remove Rule</a></li>
    <li>
      <a tabindex="-1" id="remove-all-rules" href="#">Remove All Rules</a>
    </li>
  </ul>
</div>
