<!-- Application info dialog -->
<div class="info-dialog center-element" id="app-info-form">
  <div class="dialog-title-bar"></div>
  <form class="analyze-form-container">
    <h2 class="" style="text-align: center">
      Node Renamer
    </h2>
    <h4 class="" style="text-align: center">
      Version 0.0.1
    </h4>
    <h4 class="" style="text-align: center">
      Author
      <a style="color: #007bff">Jaspreet Singh</a>
    </h4>
    <h4 class="" style="text-align: center">
      Made with 🧡 and JavaScript!
    </h4>
    <br />
    <button
      type="button"
      class="btn cancel"
      id="close-dialog-btn"
      style="text-align: center"
    >
      Close
    </button>
  </form>
</div>
